<div class="not-found-container">
    <div class="error-content">
        <div class="minion-image">
            <img src="assets/images/sad-minion.jpg" alt="Sad Minion">
        </div>
        <h1 class="error-code">404</h1>
        <h2 class="error-title">Ooops! Page Not Found</h2>
        <p class="error-message">The page you are looking for doesn't exist or has been moved. Even the minions can't
            find it!</p>
        <button class="home-button" routerLink="/home">
            <i class="fa fa-home"></i> Return to Home
        </button>
    </div>
</div>