<header class="header">
  <div class="logo-container" (click)="onNavigate('home', $event)">
    <img src="./assets/images/port-folio-logo.svg" alt="Logo" class="logo-image">
  </div>
  <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle Menu">
    <span class="menu-icon" [class.active]="isMenuOpen">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </button>
  <nav class="nav" [class.open]="isMenuOpen">
    <ul>
      @for (link of navLinks; track link) {
      <li><a href="#section-{{link.path}}" routerLinkActive="active" (click)="onNavigate(link.path, $event)"
          [class.active]="currentSection() === link.path">{{ link.label }}</a></li>
      }
    </ul>
  </nav>
</header>
