<section id="section-home" class="section" [class.active]="currentSection === 'home'" [@fadeIn]="sectionStates.home">
    <div class="image-container">
        <div class="orbital-ring"></div>
        <div class="orbital-ring"></div>
        <div class="orbital-ring"></div>
        <div class="quantum-particle"></div>
        <div class="text-overlay" [@mainPageText]="isContentVisible ? 'visible' : 'hidden'">
            <div></div>
            <div class="user-name">HI! I AM </div>
            <div class="user-name-one"> Tejas Shah</div>
            <div class="user-title">
                I'm a Computational Chemist
            </div>
        </div>
        <div class="download-pdf" [@downloadPdfUp]="isContentVisible ? 'visible' : 'hidden'">
            <p-button class="pt-5" label="Info" severity="secondary" [raised]="true" label="Download Resume"
                (click)="downloadResume()"></p-button>
        </div>
    </div>
</section>

<section id="section-about" class="section" [class.active]="currentSection === 'about'"
    [@slideInLeft]="sectionStates.about">
    <about />
</section>

<section id="section-skills" class="section" [class.active]="currentSection === 'skills'"
    [@slideInLeft]="sectionStates.skills">
    <skills />
</section>

<section id="section-cv" class="section" [class.active]="currentSection === 'cv'" [@slideInLeft]="sectionStates.cv">
    <cv />
</section>